<template name="dashboard">


        <div class="teamBoxContainer row">


                <div class="teamBox span4">
                        <br/>
                        <p class="teamName lead" > HasGeek Workshop </p>
                        <center>
                                <img class="proPicSmall" src="http://pbs.twimg.com/profile_images/511935012778684416/2KPs4l2C_normal.jpeg" />
                                <br/>
                                <br/>
                                <button id="btnGo" class="btn btn-large btn-inverse" value=""> <i class="icon-home icon-white"></i> </button>
                        </center>
                </div>


        </div>

        <div id="createTeamModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Create Team</h3>
          </div>
          <div id="createTeamModalBody" class="modal-body">
        <label for="teamName"> Team Name </label>
          <input type="text" id="teamName" placeHolder="Your team name" />
          </div>
          <div class="modal-footer">
            <a href="#" class="btn">Close</a>
            <a href="#" id="btnCreateTeam" class="btn btn-primary">Create Team</a>
          </div>
        </div>

        <div id="joinTeamModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Search Team</h3>
            <br/>
              <input type="text" id="joinTeamName" placeHolder="Your team name" />
          </div>
          <div class="modal-body">
          <p> HasGeek Workshop  <button id="btnJoinTeam" value="" class="btn btn-small btn-info pull-right"> Send Join Request </button> </p>
          </div>

        </div>



</template>
